 #music {
    height: 100vh;
    background-color: var(--color-other);
}

.music--container {
  width: 70%;
  margin: 0 auto;
}

.music--top-container {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 10%
}

.music--top-container h1 {
  color: var(--color-primary-variant);
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}

.music--top-container h5 {
  margin-top: 5rem;
  color: var(--color-primary-variant);
}