.big--container {
    display: flex;
    position: fixed;
    flex-direction: column;
    /* height: 100vh; */
}

.navigation--container {
    display: flex;
    flex-direction: row;
    /* background-color: #FFF; */
    width: 100%;
    align-items: center;
    position: fixed;
    top: 1rem;
}
.scrolled {
    position: fixed;
}

.logo {
    height: 4rem;
    width: auto;
    margin-left: 2rem; 
}

nav {
    gap: 0.2rem;
    width: max-content;
    display: flex;
    position: fixed;
    right: 2rem;
    /* top: 1.5rem; */
}

.left-nav a{
    color: var(--color-navigation);
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
}

.left-nav a:hover{
    background-color: var(--color-bg-variant);
    border-radius: 0.7rem;
    transition: var(--transition);
}

.left-nav a.active {
    background-color: var(--color-bg-variant);
    border-radius: 0.7rem;
    transition: var(--transition);
}

.arrow-container {
    display: flex;
    position: fixed;
    width: 100%;
    /* height: 100vh; */
    /* background-color: black; */
    top: 45vh;
    /* justify-content: center; */
    
}
.arrow-button {
    position: fixed;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    color: var(--color-primary)
}

.arrow-button:hover {
    height: 4rem;
    width: 4rem;
    transition: var(--transition);
    right: 1rem;
}