#home {
    height: 100vh;
}

.home--container {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
}

.main-text {
    /* background-color: #FFF; */
    flex: 1;
    position: relative;
    margin-left: 2rem;
    margin-top: 8rem;
}

.hello-text {
    color: var(--color-navigation);
    font-size: 5rem;
}

.name-text {
    color: var(--color-primary);
    font-size: 5rem;
    margin-top: -2rem;
}

.circle-container {
    display: flex;
    flex-direction: row;
    /* background-color: black; */
    position: absolute;
    bottom: 3rem;
    gap: 3rem;
}

.circle {
    height: 4.5rem;
    width: 4.5rem;
    background-color: var(--color-bg-variant);
    border-radius: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-navigation);
}

.home-image {
    margin-top: 8rem;
    flex: 1;
    /* background-color: black; */
    /* background-image: url("../../assets/home-bg.png");
    background-size:cover; */
}
.home-image img {
    height: 32rem;
    width: auto;
    margin-left: 5rem;
}
.circle a {
    display: flex;
    align-items: center;
    color: var(--color-navigation);
    font-size: 2rem;
}